In [31]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from webdriver_manager.chrome import ChromeDriverManager

In [32]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\18587\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [33]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html=browser.html
soup=bs(html,'html.parser')

In [34]:
news_title=soup.find_all('div', class_='content_title')[0].text
news_p=soup.find_all('div', class_='rollover_description_inner')[0].text
news_title

'Mars Now'

In [35]:
news_p

'A mission to investigate key questions about potential life on Mars. '

In [39]:
jpl_url = "https://spaceimages-mars.com/#"
images_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'
browser.visit(images_url)
html = browser.html
images_soup = bs(html, 'html.parser')

In [41]:
xpath = images_soup.find_all('img')[0]["src"]
featured_image_url = jpl_url + xpath
featured_image_url

'https://spaceimages-mars.com/#https://spaceimages-mars.com/image/featured/mars1.jpg'

In [43]:
mars_facts_url = 'https://galaxyfacts-mars.com/'
table = pd.read_html(mars_facts_url)
table[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [45]:
fact_df = table[0]
fact_df.columns = ["Facts", "Mars", "Earth"]
fact_df.set_index(["Facts"])
fact_df

                     Facts             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [47]:
facts_html = fact_df.to_html()
facts_html =facts_html.replace("\n", "")
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'